api/graphql/main.zip
api/rest/main.zip
.serverless/cloudformation-template-update-stack.json
.serverless/meta.json
.serverless/
.serverless/serverless-state.json
node_modules/.package-lock.json
package-lock.json
package.json
.serverless/cloudformation-template-update-stack.json
.serverless/cloudformation-template-update-stack.json
.serverless/serverless-state.json
api/graphql/bootstrap
api/rest/bootstrap
api/rest/main.zip
go.sum